$color-gray: #fcfcfc;
$color-darken-gray: #f1f0f0;
$color-darkest-gray: #d0d0d0;
$color-lightest-blue: #e1ecec;
$color-light-blue: #b2d4e6;
$color-blue: #5c82bb;
$color-darken-blue: #39507c;
$color-darkest-blue: #192363;
$color-dark: #040d1a;
$color-red: #f56c6c;